<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    <div class="container">
      {{>navigation}}
      <div class="row">
        <div class="col-lg-12">
          <div class="well text-center" id="dashboard-pane">
            <h2 class="title-block">ADMIN PANEL</h2>
            <div class="about-container">
              
              
            </div>
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      {{!--         <div class="about-container">
        <h2 class="name"> Name: {{firstName}}  {{lastName}}<h2>
        
      </div> --}}
      <div id="vue-app">
        <div class="row">
          
          <div class="col-md-6">
            
            <section class="dashboard-lesson">
              <h3>Search Mentors</h3>
              
              <form>
                <input type="text" v-model="searchString" placeholder="" />
              
              </form>
           
            </section>
            
          </div>
          <div class="col-md-6">
            
            <section class="dashboard-lesson">
              <h3>Search Students</h3>
             
            </section>
            
          </div>
          
          
        </div>
        <div class="row">
          
          <div class="col-md-6">
            
            <section class="dashboard-lesson">
              <h3>Mentors</h3>
              <ul class="user-names">
                <!--           {{#each mentors}}
                <hr>
                <li><p>{{this.firstName}} {{this.lastName}}</p></li>
                <li>   <p>{{this.email}}</p></li>
                <br>
                
                {{/each}} -->
                
                <li v-for="user in filterUsers">
                  <p>
                    <span>\{{user.firstName}}</span> |
                    <span>\{{user.email}}</span>
                  </p>
                </li>
              </ul>
              
            </section>
            
          </div>
          <div class="col-md-6">
            <section class="dashboard-lesson">
              <h3>Students</h3
              <br>
              <div>Charles Bronson</div>
              <div>Charles Bronson</div>
              <div>Charles Bronson</div>
            </section>
            
          </div>
          
        </div>
      </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/vue-axios.min.js"></script>
    <script src="js/admin.js"></script>
  </body>
</html>